@page {
    size: A4;
}

body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

    --main-color: #323B4C;
    --secondary-color: #737373;
    font-family: Calibri, sans-serif;
    font-size: 4mm;
}

@media screen {
    body {
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }
}

@media print {
    body {
        box-shadow: none;
    }
}

#main-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 72.8mm 1fr;
}

#info-panel {
    height: 100%;
    overflow: hidden;
    background: var(--main-color);
    color: white;

}

#profile-picture {
    width: 43.7mm;
    height: 43.7mm;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    margin: 8mm auto;
}

.information-category {
    margin-left: 12.8mm;
}

.category-title {
    font-size: 1.5em;
    padding-bottom: 1mm;
    border-bottom: 0.5mm solid white;
    margin-top: 0;
    margin-bottom: 5mm;
}

.simple-information {
    display: flex;
    align-items: center;
}

.simple-information > img {
    height: 4.5mm;
    margin-right: 2mm;
    color: aliceblue;
    fill: aqua;


}

.information > h3 {
    font-size: 1.1em;
    margin: 0 0 2mm;
}

.information > p {
    margin: 0;
    font-size: 0.9em;
}

.information > .date {
    font-size: 0.8em;
    color: #BDBDBD;
    margin-bottom: 1mm;
}

.information-category > .information:not(:last-child) {
    margin-bottom: 3.5mm;
}

.information-category:not(:last-child) {
    margin-bottom: 9mm;
}

#right-panel {
    padding-left: 7.2mm;
    padding-right: 7.2mm;
    padding-top: 7mm;
}

#header {
    margin-bottom: 10mm;
}

#header > h1 {
    color: var(--main-color);
    font-size: 3em;
    font-weight: 500;
    margin: 0;
}

#header > h1 > span {
    font-weight: 700;
}

#header > h3 {
    font-weight: 500;
    font-size: 1.5em;
    margin: 0 0 5mm;
}

#header > p {
    margin: 0;
    font-size: 0.9em;
    color: var(--secondary-color);
}

#experiences > h2 {
    margin: 0 0 5mm;
    padding-bottom: 2mm;
    border-bottom: 0.5mm solid var(--main-color);
}

#experiences > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 0.5mm solid var(--main-color);
}

.experience {
    margin-left: 5mm;
    color: var(--secondary-color);
}

.experience:not(:last-child) {
    margin-bottom: 7mm;
}

.experience::before {
    content: " ";
    display: block;
    width: 3mm;
    height: 3mm;
    background-color: white;
    position: absolute;
    border: 0.5mm solid var(--main-color);
    border-radius: 50%;
    margin-left: -7mm;
}

.experience > h2 {
    font-size: 1.1em;
    margin: 0 0 1mm;
}

.experience > h3 {
    font-size: 1em;
    margin: 0 0 1.7mm;
    font-weight: normal;
}

.experience > h1 {
    font-size: 1.5em;
    margin: 0 0 4mm;
    color: var(--main-color);
}

.experience > p {
    font-size: 0.9em;
    margin-bottom: 0;
}

.experience > ul {
    padding: 4mm;
    font-size: 0.9em;
}

.experience > ul > li:not(:last-child) {
    margin-bottom: 2mm;
}
