@import "../../styles/theme";

:host {
  // not working with an height 100% on the pdf generation
  height: $cvHeight;
  overflow: hidden;
  background: $main-color;
  color: white;
}

#photo {
  width: 43.7mm;
  height: 43.7mm;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  margin: $top-start auto;
}

.information-category {
  margin-left: 12.8mm;
}

.category-title {
  font-size: 1.5em;
  padding-bottom: 1mm;
  border-bottom: 0.5mm solid white;
  margin-top: 0;
  margin-bottom: 5mm;
}

.simple-information {
  display: flex;
  align-items: center;
}

.simple-information > a {
  color: inherit;
  text-decoration: inherit;
  display: flex;
  align-items: center;
}

.simple-information > a > img {
  height: 4.5mm;
  margin-right: 2mm;
}

.information h3 {
  display: block;
  font-size: 1.1em;
  margin: 0;
}

.information > p, .information > a {
  margin: 0;
  font-size: 0.9em;
}

.information > .date {
  font-size: 0.8em;
  color: #BDBDBD;
  margin-bottom: 1mm;
}

.information-category > .information:not(:last-child) {
  margin-bottom: 3.5mm;
}

.information-category:not(:last-child) {
  margin-bottom: 7.5mm;
}

.title {
  margin: 0 0 2mm;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  //gap: 2mm;
}

.link {
  color: inherit;
  text-decoration: inherit;
  display: flex;
  align-items: start;
}

.link > img {
  width: 4mm;
  margin-right: 4mm;
  margin-left: 1mm;
}