<img id="photo" src="{{ this.photo }}" alt="Bob Blandin"/>
<div class="information-category">
    <h2 class="category-title" cvI18n="title.contact">Contact</h2>
    <div class="simple-information information"><a href="mailto:{{ this.contact.mail }}"><img
            src="../../../assets/mail.png"
            alt="mail"/>{{ this.contact.mail }}</a></div>

    <div class="simple-information information"><a
            href="tel:+33{{ this.contact.phone }}"><img src="../../../assets/phone.png" alt="phone"/>{{ this.contact.phone }}</a></div>

    <div class="simple-information information"><a
            href="https://www.google.com/maps/place/{{ this.contact.address }}"><img src="../../../assets/location.png" alt="location"/>{{ this.contact.address }}</a>
    </div>
</div>

<div class="information-category">
    <h2 class="category-title" cvI18n="title.skills">Compétences</h2>
    <div *ngFor="let competence of this.competences" class="information">
        <h3>{{ competence.type }}</h3>
        <p>{{ competence.names.join(", ") }}</p>
    </div>
</div>

<div class="information-category">
    <h2 class="category-title" cvI18n="title.formations">Formations</h2>
    <div *ngFor="let formation of this.formations" class="information">
        <p class="date">{{ formation.date }}</p>
        <div class="title">
            <h3>{{ formation.name }}</h3>
            <a class="link" *ngIf="formation.file" href="{{formation.file}}" download><img src="assets/external-link-white.png"
                                                                                           alt="link"/></a>
        </div>
        <p>{{ formation.description }}</p>
    </div>
</div>

<div class="information-category">
    <h2 class="category-title" cvI18n="title.others">Divers / Loisirs</h2>
    <div *ngFor="let other of this.others" class="information">
        <p *ngIf="!other.link">{{ other.value }}</p>
        <a *ngIf="other.link" class="link" href="{{ other.link }}">{{ other.value }}<img src="assets/external-link-white.png"
                                                                                         alt="link"/></a>
    </div>
</div>

<div id="sources-link">
    <a href="{{ this.source.link }}"><span cvI18n="sources-cv">Sources cv</span><img src="assets/external-link-white.png"/></a>
</div>
