<div id="actions">
    <button id="downloadButton" (click)="downloadAsPdf()">Download as PDF</button>
    <button id="openButton" (click)="openInNewTab()">Open PDF in new tab</button>
</div>
<div *ngIf="this.data" id="root" #cvRoot>
    <div id="key-words">
        <span *ngFor="let word of this.data.hiddenWord">
            {{ word }}
        </span>
    </div>
    <cv-informations [contact]="this.data.contact" [competences]="this.data.competences" [formations]="this.data.formations"
                     [others]="this.data.others" [photo]="this.data.photo" [source]="this.data.source"></cv-informations>
    <div id="main">
        <div id="header-wrapper">
            <cv-header [personal]="this.data.personal"></cv-header>
        </div>
        <div id="experiences">
            <h2 cvI18n="title.experiences">Expériences</h2>
            <ul>
                <li *ngFor="let experience of this.data.experiences">
                    <cv-experience [experience]="experience"></cv-experience>
                </li>
            </ul>
        </div>
    </div>
</div>
