@import "../../styles/theme";

h2 {
  font-size: 1.1em;
  margin: 0 0 1mm;
}

h2::before {
  content: " ";
  display: block;
  width: 3mm;
  height: 3mm;
  background-color: white;
  position: absolute;
  border: 1mm solid $main-color;
  border-radius: 50%;
  margin-left: -7.63mm;
}

h3 {
  font-size: 1em;
  margin: 0 0 1.7mm;
  font-weight: normal;
}

h1 {
  font-size: 1.5em;
  margin: 0 0 4mm;
  color: $main-color;
}

p {
  font-size: 0.9em;
  margin-bottom: 0;
  line-height: $paragraph-interline;
}

ul {
  padding: 2mm 4mm;
  font-size: 0.9em;
  list-style: none;
}

ul > li::before {
  content: "•";
  color: $main-color;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul > li:not(:last-child) {
  margin-bottom: 2mm;
}
